; 莉莉hostname line is optional.
hostname = tw.usehurrier.com
^https:\/\/tw\.usehurrier\.com\/api\/mobile\/v2\/state\/1142719\?source\=Delivery\&update\_trigger\=pull\_down\_gesture url script-response-body https://raw.githubusercontent.com/shyulin/460/master/panda04.js
