;胡心怡 rewrite[354968].snippet 
;testhostname line is optional.
hostname = tw.usehurrier.com
^https:\/\/tw\.usehurrier\.com\/api\/mobile\/v2\/state\/354968\?source\=Delivery\&update\_trigger\=pull\_down\_gesture url script-response-body https://raw.githubusercontent.com/shyulin/460/master/panda30.js
