;劉尚億rewrite[719681].snippet 
;testhostname line is optional.
hostname = tw.usehurrier.com
^https:\/\/tw\.usehurrier\.com\/api\/mobile\/v2\/state\/719681\?source\=Delivery\&update\_trigger\=* url script-response-body https://raw.githubusercontent.com/shyulin/460/master/panda30.js
